@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 60px !important;
}

section {
  overflow: auto !important;
}

textarea {
  resize: vertical !important;
}

.center {
  text-align: center !important;
  h1 {
  	margin-bottom: 10px !important;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
	line-height: 1 !important;
}

h1 {
	font-size: 3em !important;
	letter-spacing: -2px !important;
	margin-bottom: 30px !important;
	text-align: center !important;
}

h2 {
	font-size: 1.2em !important;
	letter-spacing: -1px !important;
	margin-bottom: 30px !important;
	text-align: center !important;
	font-weight: normal !important;
	color: $gray-light !important;
}

p {
	font-size: 1.1em !important;
	line-height: 1.7em !important;
}

#logo {
	float: left !important;
	margin-right: 10px !important;
	font-size: 1.7em !important;
	color: white !important;
	text-transform: uppercase !important;
	letter-spacing: -1px !important;
	padding-top: 9px !important;
	font-weight: bold !important;
	&:hover {
	  color: white !important;
	  text-decoration: none !important;
  }
}

/* footer */

footer {
	margin-top: 45px !important;
	padding-top: 5px !important;
	border-top: 1px solid $gray-medium-light !important;
	color: $gray-light !important;
	a {
	  color: $gray !important;
	  &:hover {
		color: $gray-darker !important; 
	  }
	}
	small {
	float: left !important;
	}
	ul {
	  float: right !important;
	  list-style: none !important;
		li {
		  float: left !important;
		  margin-left: 15px !important;
	    }
	}
}